/* Alap stílusok */
body {
  font-family: Arial, sans-serif;
  background-color: #fefefe;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Fejléc */
header {
  background-color: #ffcad4;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
}

/* Fő tartalom */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

/* Szakasz címek */
h2 {
  color: #ffb7b2;
  border-bottom: 2px solid #ffb7b2;
  padding-bottom: 5px;
}

/* Szövegek és linkek */
p, li {
  font-size: 1.1em;
  line-height: 1.6em;
}

a {
  color: #ffb7b2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tanulmányok lista */
ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

/* Kapcsolatok szakasz */
#contact ul {
  list-style-type: none;
  padding-left: 0;
}

#contact li {
  margin-bottom: 10px;
}

/* Lábjegyzet */
footer {
  background-color: #ffcad4;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

